<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>{{ title }}</title>
<link rel='manifest' href='/manifest.json'>
<link rel="shortcut icon" href="a198cd0c_e2f0_4c99_ba51_342624a24db9_WP4_icon.ico" type="image/x-icon"/>
<link href = "https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
  text-align: center;
}
a {
  color: #000000;
}
h3, h2, p {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}
h1:hover {
  animation-name: artshadow;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}
@keyframes artshadow {
  from {}
  to {text-shadow: 2px 2px 5px black;}
}
h1 {
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
</style>
</head>
{% if request.user.is_authenticated %}
    <h3>Welcome, {{ request.user.username }}</h3>
    <a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a>
    <body>
    <img src = "https://sun9-49.userapi.com/impg/tqISUubG81dsgq8O-PAmxicuvphUdqqSY1jx3Q/pNUVBaqo1vA.jpg?size=500x345&quality=95&sign=3897121b3b154735a833d675cd377713&type=album" align = "center" class = "center">
    <h1><a href = "https://micahlt.github.io/renart/"><b>ДимасПодбор</b></a></h1>
    <h2>the searchable index of Renaissance art</h2><h3><a href = "{% url 'search:search' %}">Search</a> | <a href = "about.html">About</a></h3>
    <script>
    let deferredPrompt = null;

    window.addEventListener('beforeinstallprompt', (e) => {
     // Prevent Chrome 67 and earlier from automatically showing the prompt
     e.preventDefault();
     // Stash the event so it can be triggered later.
     deferredPrompt = e;
    });

    async function install() {
     if (deferredPrompt) {
       deferredPrompt.prompt();
       console.log(deferredPrompt)
       deferredPrompt.userChoice.then(function(choiceResult){

         if (choiceResult.outcome === 'accepted') {
         console.log('Your PWA has been installed');
       } else {
         console.log('User chose to not install your PWA');
       }

       deferredPrompt = null;

       });


     }
    }
    </script>
    </body>
{% else %}
    <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
    <body>
    <img src = "https://sun9-49.userapi.com/impg/tqISUubG81dsgq8O-PAmxicuvphUdqqSY1jx3Q/pNUVBaqo1vA.jpg?size=500x345&quality=95&sign=3897121b3b154735a833d675cd377713&type=album" align = "center" class = "center">
    <h1><a href = "{% url 'index' %}"><b>ДимасПодбор</b></a></h1>
    <h2>Тачка для вас, бабки для нас</h2><h3><a href = "{% url 'users:login' %}">Авторизироваться</a>
    <script>
    let deferredPrompt = null;

    window.addEventListener('beforeinstallprompt', (e) => {
     // Prevent Chrome 67 and earlier from automatically showing the prompt
     e.preventDefault();
     // Stash the event so it can be triggered later.
     deferredPrompt = e;
    });

    async function install() {
     if (deferredPrompt) {
       deferredPrompt.prompt();
       console.log(deferredPrompt)
       deferredPrompt.userChoice.then(function(choiceResult){

         if (choiceResult.outcome === 'accepted') {
         console.log('Your PWA has been installed');
       } else {
         console.log('User chose to not install your PWA');
       }

       deferredPrompt = null;

       });


     }
    }
    </script>
    </body>
{% endif %}
</html>
