<!DOCTYPE html>
<html>
<head>
    <title>{{ titile }}</title>
</head>
<body>
    <h2>Авторизация</h2>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username" class="form-control py-4" placeholder="Введите имя пользователя"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" class="form-control py-4" placeholder="Введите пароль"><br>
        <input type="submit" value="Войти">
    </form>
    <a href="{% url 'users:register' %}"><button>Зарегистрироваться</button></a>
</body>
</html>